version: 2
jobs:
  build:
    docker:
      - image: microsoft/aspnetcore-build:latest
    steps:
      - checkout
      - run:
          name: restore_nuget
          command: 'dotnet restore CryptoPriceAtHistory.sln'
      - run:
          name: build
          command: 'dotnet build CryptoPriceAtHistory.sln'
  test:
    docker:
      - image: microsoft/aspnetcore-build:latest
    steps:
      - checkout
      - run:
          set -e
          name: test
          command: 'dotnet test "CryptoPriceAtHistory.Tests/CryptoPriceAtHistory.Tests.csproj"'
  dockerize:
    machine: true
    steps:
       - checkout
       - run: docker login -u grzesiekp -p $DOCKER_PASSWORD
       - run: docker-compose up -d --build
       - run: docker tag cryptopriceathistory grzesiekp/cryptopriceathistory:latest
       - run: docker push grzesiekp/cryptopriceathistory

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
      - dockerize:
          context: DockerCredentials